# Assignment_3

1. Write a python program to print all numbers from 1 to 10 using a loop?

In [9]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Write a python program to sum of all numbers from 1 to 100?

In [10]:
total = 0
for i in range(1,101):
    total += i
print(f"Thre Sum of all numbers from 1 to 100 are : {total}")

Thre Sum of all numbers from 1 to 100 are : 5050

3. Write a Python program to print the multiplication table of a given number using a for loop.

In [11]:
num = int(input("Enter any number : "))
limit = int(input("Enter any limit\t : "))

print(f"Mutliplication of {num} are ")
for i in range(limit + 1):
    print(f"{num} * {i}\t = {num * i}")

Enter any number :  5
Enter any limit	 :  10

Mutliplication of 5 are
5 * 0	 = 0
5 * 1	 = 5
5 * 2	 = 10
5 * 3	 = 15
5 * 4	 = 20
5 * 5	 = 25
5 * 6	 = 30
5 * 7	 = 35
5 * 8	 = 40
5 * 9	 = 45
5 * 10	 = 50

4: Write a Python program to count the number of even and odd numbers from a series of numbers using a for loop.

In [48]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_count = 0
odd_count = 0

for i in list1:
    if i % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
        
print(f"Even numbers are : {even_count}")
print(f"Odd numbers are\t : {odd_count}")

Even numbers are : 5
Odd numbers are	 : 5

5: Write a python program to find the factorial of a number using a for loop.

In [53]:
num = int(input("Enter any number : "))
fact = 1

for i in range(1, num + 1):
    fact *= i
print(f"The Factorial of a {num} is {fact}")

Enter any number :  7

The Factorial of a 7 is 5040

6: Write a Python program to print the Fibonacci sequence up to a specified number using a for loop.

In [20]:
num = int(input("Enter any number : "))
a = 0
b = 1

for i in range(num):
    print(a, end=" ")
    a, b = b, a + b

Enter any number :  10

0 1 1 2 3 5 8 13 21 34

7: Write a Python program to check if a given number is prime or not using a for loop.

In [43]:
num = int(input("Enter any number : "))

if num > 1:
    is_prime = True
    for i in range(2,num):
        if num % i == 0:
            is_prime = False
    if is_prime:
        print("It is a prime number")
    else:
        print("It is not a prime number")
else:
    print("It is not a prime number")

Enter any number :  29

It is a prime number

8: Write a Python program to find the largest element in a list using a for loop.

In [35]:
list2 = [6, 2, 3, 4, 9, 7]
max_num = list2[0]

for i in list2:
    if i > max_num:
        max_num = i
print(f"Maximum number in the list is : {max_num}")

Maximum number in the list is : 9

9: Write a Python program to reverse a given string using a for loop.

In [36]:
string = input("Enter any string : ")
reverse_word = " "

for i in string:
    reverse_word = i + reverse_word
print(reverse_word)

Enter any string :  Piyush Kirola

aloriK hsuyiP

10: Write a Python program to find the common elements between two lists using a for loop.
List1 = [1,2,3] : List2 = [4,5,1] # common element is 1.

In [52]:
list1 = [1,2,3,6]
list2 = [4,5,1,7]

common_number = []

for i1 in list1:
    for i2 in list2:
        if i1 == i2:
            common_number.append(i1)
            break
print(f"list1 is\t : {list1}")
print(f"list2 is\t : {list2}")
print(f"Common number is : {common_number}")

list1 is	 : [1, 2, 3, 6]
list2 is	 : [4, 5, 1, 7]
Common number is : [1]